{% extends "base.html" %}

{% block title %}
    Create Todo List
{% endblock title %}
{% block content %}
    <header>
        <nav>
        </nav>
    </header>
    <main>
        <h1>Create a new list</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
    </main>
{% endblock content %}
