{% extends "base.html" %}

{% block title %}
    Create Todo List
{% endblock title %}
{% block content %}
    <header>
        <nav>
        </nav>
    </header>
    <main>
        <h1>Are you sure?</h1>
        <form method="post">
            {% csrf_token %}
            <button>Delete</button>
        </form>
    </main>
{% endblock content %}
