{% extends "base.html" %}

{% block title %}
    Todo List Detail
{% endblock title %}
{% block content %}
    <header>
        <nav>
        </nav>
    </header>
    <main>
        <div>
            <h1>{{ todo_list_detail.name }}</h1>
            {% comment %} Created on: {{ todo_list_detail.created_on }} {% endcomment %}
            <p>
                <a href="{% url "todo_list_update" todo_list_detail.id %}">Edit</a>
            </p>
            <p>
                <a href="{% url "todo_list_delete" todo_list_detail.id %}">Delete</a>
            </p>
            <h2>Tasks</h2>
            <table>
                <tr>
                    <th>Task:</th>
                    <th>Due Date:</th>
                    {% comment %} <th>Completed:</th> {% endcomment %}
                </tr>
                {% for task in todo_list_detail.items.all %}
                    <tr>
                        <td>
                            <a href="{% url "todo_item_update" task.id %}">{{ task.task }}</a>
                        </td>
                        <td>{{ task.due_date|date:'M d, Y' }}</td>
                        {% comment %} <td>{{ task.is_completed }}</td> {% endcomment %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </main>
{% endblock content %}
